@import './../project/colors';

.alert {
    background: $light-grey;
    text-align: left;
    padding: .5em;
    border-radius: .5em;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.alert--danger {
    background: $pastelPink;
    color: $white;
}

.alert--success {
    background: $pastelLemon;
}