@import './../project/typo';

.btn {
    padding: 1em 2em;
    border-radius: 3em;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5em;
}

.btn--strawberry {
    background-color: $strawberry;
    color: $lemon;
}

.btn--lemon {
    background-color: $lemon;
    color: $strawberry;
}