// HOOFDKLEUREN
$strawberry : rgb(237, 41, 112);
$heaven : rgb(130, 209, 228);
$lemon : rgb(247, 226, 0);

// SECUNDAIRE KLEUREN
$pink : rgb(255, 76, 142);
$pastelPink : rgb(255, 152, 190);
$vividBlue : rgb(97, 209, 214);
$pastelBlue : rgb(202, 227, 232);
$warmLemon : rgb(247, 242, 74);
$pastelLemon : rgb(248, 245, 148);

// NEUTRALE KLEUREN
$white : rgb(255, 255, 255);
$black : #212529;