// importing Dosis font
@font-face {
    font-family: 'Dosis';
    src: url(./../../assets/font/Dosis/static/Dosis-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Dosis bold';
    src: url(./../../assets/font/Dosis/static/Dosis-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Dosis';
    src: url(./../../assets/font/Dosis/static/Dosis-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Dosis';
    src: url(./../../assets/font/Dosis/static/Dosis-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Dosis';
    src: url(./../../assets/font/Dosis/static/Dosis-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url(./../../assets/font/Dosis/static/Dosis-Light.ttf);
    font-weight: 300;
}


// importing Lato font
@font-face {
    font-family: 'Lato';
    src: url(./../../assets/font/Lato/Lato-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url(./../../assets/font/Lato/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url(./../../assets/font/Lato/Lato-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url(./../../assets/font/Lato/Lato-Light.ttf);
    font-weight: 300;
}