$Dosis-font-path: './../assets/font/Dosis/static';
$Lato-font-path: './../assets/font/Lato/static';
// importing Dosis font
@font-face {
    font-family: 'Dosis';
    src: url("#{$Dosis-font-path}/Dosis-ExtraBold.ttf") format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Dosis';
    src: url("#{$Dosis-font-path}/Dosis-Bold.ttf") format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Dosis';
    src: url('#{$Dosis-font-path}/Dosis-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Dosis';
    src: url('#{$Dosis-font-path}/Dosis-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Dosis';
    src: url('#{$Dosis-font-path}/Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Dosis';
    src: url('#{$Dosis-font-path}/Dosis-Light.ttf') format('truetype');
    font-weight: 300;
}


// importing Lato font
@font-face {
    font-family: 'Lato';
    src: url('#{$Lato-font-path}/Lato-Black.ttf') format('truetype');
    font-weight: 900;
}
@font-face {
    font-family: 'Lato';
    src: url('#{$Lato-font-path}/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url('#{$Lato-font-path}/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('./../../assets/font/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: "Dosis", sans-serif;
}